@font-face {
    font-family: Rob;
    src: url(../fonts/RobotoRegular.ttf);
    font-weight:normal;
}


@font-face {font-family: "Hiragino Sans GB3";
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot");
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB") format("svg");
}


@font-face {font-family: "Hiragino Sans GB";
    src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot");
    src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB") format("svg");
  }
  